.list-container{
    float: left;
    padding: 20px;  /* paddingは余白を作る */
}

.card{
    display: flex;  /* classがcardのところを横並びにする */
}

.delete{
    padding-left: 122px;
    font-size: 10px;
    color: crimson;
}