<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="text" />
        <button v-on:click="addCard">追加</button>
        <div id="container">
          <div v-for="text in list">{{ text }}</div>
        </div>
        <div>{{ message }}</div>
        <button v-on:click="changeMessage">変更！</button>
    </div>
    
    <script src="https://unpkg.com/vue@3.2.20"></script>
    <script src="main.js"></script>
</body>
</html>